<div class="container">
    <div class="form-row">
        <div class="col-4">
            <div class="form-group row">
                <label class="form-check-label col-sm-2 col-form-label" for="inlineFormInputName2">Show</label>
                <select (change)="onChangePageSize($event.target.value)" id="inlineFormInputName2" class="custom-select col-sm-2 form-control-plaintext">
                    <option selected value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
                <label class="form-check-label col-sm-2 col-form-label" for="inlineFormInputName2">records</label>
            </div>
        </div>
        <div class="col-4 offset-md-4">
            <div class="form-group">
                <input type="text" (keyup)="onKeyUp($event)" class="form-control" placeholder="What you looking for?">
            </div>
        </div>
    </div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Content</th>
          <th scope="col">User Id</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.body}}</td>
          <td>{{post.userId}}</td>
          <td><button type="button" class="btn btn-outline-primary" (click)="openModal(template, post.id)" title="Load Comments"><i class="fa fa-comments" style="font-size:24px" aria-hidden="true"></i></button></td>
        </tr>
      </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
          </pagination>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-responsive table-borderless">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Post Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Body</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comment of comments">
          <th>{{comment.id}}</th>
          <td>{{comment.postId}}</td>
          <td>{{comment.name}}</td>
          <td>{{comment.email}}</td>
          <td>{{comment.body}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
