<div *ngIf="!loggedIn()" class="container">
  <div  style="text-align: center">
    <h2>Custom Datatable, Developed from scratch...</h2>
    <p class="lead">Try to login to view features of table... (Username: test, Password: password) </p>
  </div>
</div>

<div *ngIf="loggedIn()" class="container">
  <div  style="text-align: center">
    <h2>Custom Datatable, Developed from scratch...</h2>
    <p class="lead">Come on in to view features of table... All you need to do is click button below!</p>
    <div class="text-center">
      <a class="btn btn-primary btn-lg mr-2" [routerLink]="['/posts']">View</a>
    </div>
  </div>
</div>